<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>Login Panel</title>

    <style>

.login-panel {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; }

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}


.input-group {
    margin-bottom: 20px;
}

.input-addon {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px 0 0 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
}


.btn {
    background-color: #4b0082;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #800080;
}

    </style>
</head>
<body>
    <div class="login-panel">
    <div class="site-name">MTA PANEL V1</div>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <form id="signin" method="POST" action="/login">
            <div class="input-group">
                <span class="input-addon">Nume de cont</span>
                <input id="username" type="text" class="form-control" name="username" placeholder="User123">
            </div>

            <div class="input-group">
                <span class="input-addon">Parola</span>
                <input id="password" type="password" class="form-control" name="password" placeholder="*****">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>